<!--
 Title: monthly-payment.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 12/11/2022
 Description: Assignment 8.3 - Capstone (Build)
 Resources: Material Design https://material.io
-->

<mat-card class="payment-card mat-elevation-z0">
  <mat-card-subtitle class="payment-sub"
    >You monthly payment:</mat-card-subtitle
  >
  <div>
    <mat-card-content>
      <div class="payment-content">
        <!-- Passed In values monthlypayment -->
        <!-- <p><span>$</span></p> -->

        {{ "$" + (monthlyPayment | number : "1.2-2") }}
      </div>
    </mat-card-content>
  </div>
</mat-card>

<!-- <div style="text-align: center">
  <mat-label for="loanAmount">Your monthly payment:</mat-label>
</div>
<div style="text-align: center">
  <mat-form-field fxFlex appearance="fill">
    <input
      type="text"
      name="loanAmount"
      matInput
      formControlName="loanAmount"
    />

  </mat-form-field>
</div> -->
