<!--
 Title: about.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 11/26/2022
 Description: Assignment 6.2 - Output Properties
Resources: Material Design https://material.io
-->

<div>
  <h1 style="text-align: center; margin-top: -30px; margin-bottom: 30px">
    {{ aboutUs }}
  </h1>
</div>

<!-- 2 column material design layout -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column" style="text-align: center">
      <div>
        <img src="../../assets/Sun Tzu.jpg" style="max-width: 350px" alt="" />
      </div>
      <div>
        <em>
          Photo from Wikipedia
          <a
            class="attribution-link"
            href="https://upload.wikimedia.org/wikipedia/commons/c/cf/%E5%90%B4%E5%8F%B8%E9%A9%AC%E5%AD%99%E6%AD%A6.jpg"
            target="_blank"
            >Sun Tzu</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex style="text-align: left">
    <div fxLayout="column">
      <h1 class="blue">Loan_App</h1>
      <p>
        Lorem ipsum dolor sit amet imperdiet ullamcorper metus. Aliquam in
        rhoncus magnis mollis vitae dui senectus. Adipiscing auctor accumsan
        iaculis sapien congue fringilla semper inceptos metus ad letius. Mollis
        bibendum feugiat in magna senectus pellentesque curae class. Penatibus
        viverra risus suscipit volutpat quisque. Litora maecenas velit
        vestibulum laoreet tellus facilisi elementum in blandit viverra fames.
        Porttitor eros dictumst ante vitae faucibus.
      </p>
      <em
        >Author by:
        <a
          href="https://www.google.com/books/edition/The_Art_of_War/nY_2jgEACAAJ?hl=en"
          target="_blank"
          class="attribution-link"
          >Sun-Tzu</a
        ></em
      >
    </div>
  </div>
</div>
